<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/submenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>

<body>
    <header class="header">
        @{
            bool usuarioAutenticado = (Context.Session.GetInt32("USUARIO_ID") != null);
            string usuarioNome = Context.Session.GetString("USUARIO_NOME") ?? "Usuário não autenticado";
            string tipoUsuario = Context.Session.GetString("USUARIO_TIPO") ?? "Desconhecido";
        }
        <br />
        <!-- Logo -->
        <h1 class="section-title">
            <a href="/Home/Index"><img src="~/images/homelogo.png" alt="About-Image" style="width: 100px; height: 100px; border-radius:100%"></a>
        </h1>
        <!-- Logo End -->
        <!-- Navbar -->
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">

            <!-- Links do menu -->
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="/Home/Index" style="margin-left: 10px;">Inicio</a>
            </span>

            <!-- Menu baseado no tipo de usuário -->
            @if (usuarioAutenticado)
            {
                @if (tipoUsuario == "1")
                {
                    <!-- Menu do Administrador -->
                    <div class="dropdown" style="border-color: #31568!important; position: relative; display: inline-block;">
                        <span style="display: flex; align-items: center; margin-right: 20px;">
                            <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                            <a href="#" style="margin-left: 10px;">@usuarioNome</a>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="color: #315689; margin-left: 5px;"></i>
                        </span>
                        <div class="dropdown-content" style="display: none; position: absolute; background-color: #ddd; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #315689 solid 1px; box-shadow: 5px #315689;">
                            <a href="/Usuario/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>Usuarios
                            </a>
                            <a href="/Agendamento/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>Agendamento Admin
                            </a>
                            <a href="/Servico/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fas fa-gavel fa-lg" aria-hidden="true" style="margin-right: 8px;"></i>Serviço
                            </a>
                            <a href="#logout" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-align-justify" aria-hidden="true" style="margin-right: 8px;"></i>Relatório
                            </a>
                           
                        </div>
                    </div>
                }
                else
                {
                    <!-- Menu do Usuário -->
                    <div class="dropdown" style="position: relative; display: inline-block;">
                        <span style="display: flex; align-items: center; margin-right: 20px;">
                            <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                            <a href="#" style="margin-left: 10px;">@usuarioNome</a>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="color: #315689; margin-left: 5px;"></i>
                        </span>
                        <div class="dropdown-content" style="display: none; position: absolute; background-color: #ddd; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #315689 solid 1px; box-shadow: 5px #315689;">
                            <a href="/Agendamento/GerencimentoAgendamentoUsuario" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>Agendamento User
                            </a>
                            <a href="/Agendamento/CadastroAgendamento" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-file" aria-hidden="true" style="margin-right: 8px;"></i>Cadastro Agendamento
                            </a>
                            
                        </div>
                    </div>
                }
            }
            else
            {
                <!-- Menu de Login (Quando o usuário não está autenticado) -->
                <div class="dropdown" style="position: relative; display: inline-block;">
                    <span style="display: flex; align-items: center; margin-right: 20px;">
                        <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                        <a href="/Usuario/Login" style="margin-left: 10px;">Login</a>
                    </span>
                </div>
            }

        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Zona_Geek - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    

    <script src="~/lib/swiper/swiper-bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>s
</body>
</html>
