<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ZG | Zona Geek</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Title -->
    

    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/vendors/swiper/swiper.css" />

    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="~/vendors/magnific-popup/magnific-popup.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/submenu.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />

    
</head>
<body>
    <header class="header">
        @{
            // Verifica se o usuário está autenticado e recupera os dados de ambiente
            bool usuarioAutenticado = !string.IsNullOrEmpty(Environment.GetEnvironmentVariable("USUARIO_ID"));
            string usuarioNome = Environment.GetEnvironmentVariable("USUARIO_NOME");
            string tipoUsuario = Environment.GetEnvironmentVariable("USUARIO_TIPO");
        }

        <!-- Logo -->
        <a class="logo" href="#home" style="display: flex; align-items: center; text-decoration: none;">
            <img src="~/images/about/logo-do-sobre.png" alt="Home-Image" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px; border-radius: 50%;">
            <h2 style="margin: 0; font-size: 24px;">Zona Geek</h2>
        </a>
        <!-- Logo End -->
        <!-- Navbar -->
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">

            <!-- Links do menu -->
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="#home" style="margin-left: 10px;">Inicio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-info-circle fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="#about" style="margin-left: 10px;">Sobre</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-gavel fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="#service" style="margin-left: 10px;">Serviço</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-window-restore fa-lg" aria-hidden="true" style="color:#315689;"></i>
                <a href="#portfolio" style="margin-left: 10px;">Portifólio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-users fa-lg" aria-hidden="true" style="color:#315689;"></i>
                <a href="#testimonial" style="margin-left: 10px;">Depoimento</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-file fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="#blog" style="margin-left: 10px;">Noticias</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-phone-square fa-lg" aria-hidden="true" style="color: #315689;"></i>
                <a href="#contact" style="margin-left: 10px;">Contato</a>
            </span>

            <!-- Menu baseado no tipo de usuário -->
            @if (usuarioAutenticado)
            {
                @if (tipoUsuario == "1")
                {
                    <!-- Menu do Administrador -->
                    <div class="dropdown" style="position: relative; display: inline-block;">
                        <span style="display: flex; align-items: center; margin-right: 20px;">
                            <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                            <a href="#" style="margin-left: 10px;">@usuarioNome</a>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="color: #315689; margin-left: 5px;"></i>
                        </span>
                        <div class="dropdown-content" style="display: none; position: absolute; background-color: #ddd; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #315689 solid 1px; box-shadow: 5px #315689;">
                            <a href="/Usuario/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>Usuarios
                            </a>
                            <a href="/Agendamento/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>Agendamento Admin
                            </a>
                            <a href="/Servico/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fas fa-gavel fa-lg" aria-hidden="true" style="margin-right: 8px;"></i>Serviço
                            </a>
                            <a href="#logout" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-align-justify" aria-hidden="true" style="margin-right: 8px;"></i>Relatório
                            </a>
                            <a href="javascript:void(0);" onclick="logout()" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-sign-out-alt" aria-hidden="true" style="margin-right: 8px;"></i> Sair
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <!-- Menu do Usuário -->
                    <div class="dropdown" style="position: relative; display: inline-block;">
                        <span style="display: flex; align-items: center; margin-right: 20px;">
                            <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                            <a href="#" style="margin-left: 10px;">@usuarioNome</a>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="color: #315689; margin-left: 5px;"></i>
                        </span>
                        <div class="dropdown-content" style="display: none; position: absolute; background-color: #ddd; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #315689 solid 1px; box-shadow: 5px #315689;">
                            <a href="/Agendamento/GerencimentoAgendamentoUsuario" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>Agendamento User
                            </a>
                            <a href="/Agendamento/CadastroAgendamento" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-file" aria-hidden="true" style="margin-right: 8px;"></i>Cadastro Agendamento
                            </a>
                            <a href="javascript:void(0);" onclick="logout()" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                                <i class="fa fa-sign-out-alt" aria-hidden="true" style="margin-right: 8px;"></i> Sair
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <!-- Menu de Login (Quando o usuário não está autenticado) -->
                <div class="dropdown" style="position: relative; display: inline-block;">
                    <span style="display: flex; align-items: center; margin-right: 20px;">
                        <i class="fa fa-user" aria-hidden="true" style="color: #315689;"></i>
                        <a href="/Usuario/Login" style="margin-left: 10px;">Login</a>
                    </span>
                </div>
            }

        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Zona_Geek - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function logout() {
            // Envia a requisição AJAX para o servidor
            $.ajax({
                url: '/Usuario/Logout', // URL do método Logout no controller
                type: 'POST', // Tipo de requisição (POST)
                success: function (response) {
                    // Se a requisição for bem-sucedida
                    if (response.success) {
                        // Redireciona para a página de login ou outra página conforme desejado
                        window.location.href = '/Home/Index';
                    } else {
                        // Se houver uma mensagem de erro, exibe
                        alert('Erro ao realizar o logout: ' + (response.message || 'Erro desconhecido'));
                    }
                },
                error: function (xhr, status, error) {
                    // Se ocorrer algum erro na requisição AJAX
                    alert('Erro ao processar a solicitação de logout. Detalhes: ' + error);
                }
            });
        }
    </script>
</body>
</html>