

<body>

    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    <!-------------------- Header Area (Start) -------------------->
   
    <!-------------------- Header Area (End) -------------------->
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2> <
                        Ola,Seja Bem Vindo!</h1>
                        <h1>Somos a Zona Geek e oferecemos os seguites serviços <span class="typing-text"></span></h1>
                        <p>Dedicado a venda de expansão de jogos</p>
                        <a href="#" class="btn">Sobre o site<i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/about/logo-do-sobre.png" alt="Home-Image">
            </div>

        </div>

    </section>


    <!-------------------- Home Area (End) -------------------->
    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/about/logo-do-sobre.png" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Este o Zona Geek.</h2>
                <p>Um site dedicado a venda de expansão de jogos </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Sites compatives: <span>steam, playstore e playstation stores</span></h4>
                        <h4>Linguagem: <span>Português - Brasil</span></h4>
                        <h4>Trabalho: <span>Venda de expansão de jogos </span></h4>
                        <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="10">10</h1>
                            <h3>Anos de experiencia </h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="1.033">1.033+</h1>
                            <h3>Quantidade de expansões </h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="18.001">18.001+</h1>
                            <h3>Quantidade de clientes</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="30.008">30.008+</h1>
                            <h3>Jogos compativeis</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

                <div class="skill-container">

                    <div class="heading">
                        <h2>Porcentagem de donwloads por plataforma <span></span></h2>
                    </div>

                    <div class="skills">
                        <div class="skill-item item1">
                            <div class="box">
                                <h3>Donwloads com Sucesso<span> 98.7% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                            <div class="box">
                                <h3>Playstation<span> 90% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                            <div class="box">
                                <h3>Xbox<span> 95% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                        </div>

                        <div class="skill-item item2">
                            <div class="box">
                                <h3>Nintendo Switch<span> 75% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                            <div class="box">
                                <h3>Pc<span> 99.8% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                            <div class="box">
                                <h3>Androind<span> 90,1% </span> </h3>
                                <div class="progress-bar"> <span></span> </div>
                            </div>
                        </div>

                    </div>

                </div>


    </section>
    <!-------------------- About Area (End) -------------------->
    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Atualização de <span>expansões</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2024</span>
                        <h3>Call of Duty</h3>
                        <p>
                            Map Packs: Estes são os tipos mais comuns de expansões para os jogos "Call of Duty". Eles
                            geralmente adicionam novos mapas multiplayer ao jogo, permitindo aos jogadores explorar
                            diferentes locais e ambientes. Esses mapas muitas vezes variam em tamanho e estilo,
                            oferecendo novas experiências de jogo e estratégias.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2003</span>
                        <h3>The Sims</h3>
                        <p>
                            Makin' Magic - Lançado em 2003, esta foi a última expansão lançada para a primeira geração de
                            jogos "The Sims". Introduziu elementos de fantasia e magia, permitindo que os Sims
                            aprendessem feitiçaria e explorassem um mundo de magia e encantamento.

                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2012</span>
                        <h3>Counter-Strike</h3>
                        <p>
                            Global Offensive (CS
                            ) - Este é o último título principal da série até agora. CS
                            foi lançado com uma série de atualizações ao longo dos anos, incluindo novos mapas, modos de
                            jogo, armas e ajustes de equilíbrio. Desde então, tem sido regularmente atualizado com
                            eventos sazonais, ajustes de gameplay e correções de bugs.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2024</span>
                        <h3>Elden Ring</h3>
                        <p>
                            Shadow of the Erdtree, será lançada em 21 de junho de 2024 para PC, PlayStation e Xbox. Ela
                            apresentará novas áreas no mundo devastado de Elden Ring, na Terra das Sombras, com
                            inimigos, magias, equipamentos e chefes únicos. Além disso, o jogo base já vendeu mais de 20
                            milhões de cópias desde seu lançamento,
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2024</span>
                        <h3>Sea of Thieves</h3>
                        <p>
                            Décima Segunda Temporada (lançada em 30 de abril): Coincidiu com a chegada do jogo ao
                            PlayStation 5 e está disponível no Xbox One, Xbox Series X|S e PC, incluindo o PC Game Pass
                            e Xbox Game Pass
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2021</span>
                        <h3>Dark Souls 3</h3>
                        <p>
                            The Ringed City (lançada em 21 de abril): A última expansão, que levou os jogadores a novos
                            patamares do desespero na perseguição a Slave Knight Gael, enquanto ele buscava o Dark Soul
                            da humanidade
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->
    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Nossos <span>Serviços</span></h2>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #f0ffff; border-color: #f0ffff; color: black">
                Agendar
            </button>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <h3>Jogos</h3>
                <p>
                    Nossas expansões de jogos enriquecem a experiência com novas aventuras, mantendo equilíbrio e coesão
                    no jogo original. Com qualidade excepcional, cativam os jogadores, prolongando a diversão.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-toggle-on" aria-hidden="true"></i>
                <h3>Graficos </h3>
                <p>
                    Nos focamos em melhorias gráficas para elevar o realismo e a qualidade visual, utilizando as mais
                    novas tecnologias . Buscamos proporcionar uma experiência imersiva e envolvente.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-cloud" aria-hidden="true"></i>
                <h3>Nuvem</h3>
                <p>
                    Nos oferecemos serviços acessíveis e convenientes.A qualidade de serviço, baixa latência e suporte ao
                    cliente é essencial para liderar a inovação e se destacar no setor de jogos.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-bullhorn"></i>
                <h3>Noticas </h3>
                <p>
                    O mundo dos games é com lançamentos frequentes, inovações e eventos globais. Estar atualizado com as
                    notícias enriquece a experiência, com desenvolvimentos na indústria de jogos.
                </p>
            </div>

            <div class="service-item">
                <i class="far fa-file-video"></i>
                <h3>Memoria necessaria</h3>
                <p>
                    A RAM é crucial para jogos fluidos; títulos AAA requerem 16 GB, enquanto jogos simples funcionam com
                    4-8 GB. Com jogos mais complexos, 16 GB garante qualidade e estabilidade.
                </p>
            </div>

            <div class="service-item">
                <i class="fas fa-search-dollar"></i>
                <h3>Nossas pesquisas</h3>
                <p>
                    Nossas pesquisas eficazes são essenciais para entender o mercado, adaptar estratégias de marketing e
                    desenvolver produtos que atendam às expectativas dos jogadores. Investir tempo e recursos em
                    pesquisas permite não apenas alcançar sucesso comercial, mas também cultivar uma comunidade de
                    jogadores engajada e satisfeita, o que é fundamental para o crescimento contínuo no competitivo
                    mercado de jogos.
                </p>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->
    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Meu <span>Portifolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">Tudo</li>
                <li class="button btn" data-filter="web">Tiro</li>
                <li class="button btn" data-filter="design">Casual</li>
                <li class="button btn" data-filter="photography">Fazenda</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/postifolio/Jogos-indie.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Indie</h4>
                        <p>Evoluções</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/Jogos-indie.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/postifolio/Jogos-steam.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Steam</h4>
                        <p>Jogos de tiro</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/Jogos-steam.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/postifolio/jogos-xbox.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Xbox</h4>
                        <p>Fazenda</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/jogos-xbox.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/postifolio/Jogos-playstation.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Playstation</h4>
                        <p>Casual</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/Jogos-playstation.jpg" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/postifolio/jogos-nintendo-2.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Nintendo</h4>
                        <p>Casual</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/jogos-nintendo-2.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/postifolio/jogos-mobile.png" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Mobile</h4>
                        <p>Jogos de ação</p>
                        <a data-effect="mfp-newspaper" href="~/images/postifolio/jogos-mobile.png" class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->
    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Feedback</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-4.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        voce vai sofrer morrer passar raiva querer desistir mas ai quando voce sair do tutorial tudo
                        fica muito pior todos os bosses são muito deficeis porem o jogo e muito bem feito.
                    </p>

                    <div class="intro">
                        <h3>jason roy</h3>
                        <h5>Dark Souls |||</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-3.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Um excelente jogo com jogabilidade viciante, trilha sonora impecável, sonoplastia intensa e arte
                        perfeita. A narrativa é cativante, apesar de Kratos estar mais "nerfado" em comparação aos
                        primeiros jogos.
                    </p>

                    <div class="intro">
                        <h3>evelyn jones</h3>
                        <h5>God of War</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-5.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        The Sims 4 é bastante divertido. Mas o que deixa qualquer um decepcionado são os preços das
                        DLCs. É um absurdo esses preços altissimos.
                    </p>

                    <div class="intro">
                        <h3>luke wood</h3>
                        <h5>The Sims 4</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-6.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        8 anos que jogo essa perfeição de jogo, impossível ninguém ter jogado ou nem visto GTA 5 em
                        algum lugar do mundo mesmo que seja debaixo de uma pedra.
                    </p>

                    <div class="intro">
                        <h3>sarah glenn</h3>
                        <h5>GTA V</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-7.webp" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Baldur's Gate 3 é uma experiência rica e inesquecível. Cada ação minha moldou o destino do
                        mundo, combinando emoção, estratégia e descoberta. Amei cada segundo desse jogo.
                    </p>

                    <div class="intro">
                        <h3>Tanjiro</h3>
                        <h5>Baldurs Gate 3</h5>
                    </div>
                </div>
                <div class="swiper-slide testi-item">
                    <img src="~/images/testimonials/pessoa-8-png.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Adoro a quantidade de detalhes que the sims dois tem parece bem mais atualizado que the sims 4
                        em todos os quesitos ambientação expressoes faciais comida etc.
                    </p>

                    <div class="intro">
                        <h3>melissa </h3>
                        <h5>the sims 2</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->
    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Meu <span>Blog</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/blog/Zelda-noticias.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>19/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>TecMundo</span></h5>
                        </div>
                        <a class="main-heading" href="#">Zelda</a>
                        <p>
                            Novo Zelda permitirá jogar com a Princesa e terá localização em PT-BR pela primeira vez
                        </p>
                        <a href="https://www.tecmundo.com.br/voxel/286099-novo-zelda-permitira-jogar-princesa-tera-localizacao-pt-br-primeira-vez.htm"
                           class="btn">Leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/blog/valorant-.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>07/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>G1</span></h5>
                        </div>
                        <a class="main-heading" href="#">Valorant</a>
                        <p>
                            'Valorant' vai ser lançado para consoles; teste beta começa dia 14 de junho
                        </p>
                        <a href="https://g1.globo.com/pop-arte/games/noticia/2024/06/07/valorant-vai-ser-lancado-para-consoles-teste-beta-comeca-em-junho.ghtml"
                           class="btn">Leia mais<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/blog/Habbo-hotel.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>tecMundo</span></h5>
                        </div>
                        <a class="main-heading" href="#">Habbo hotel</a>
                        <p>
                            Habbo Hotel original está de volta! Veja como jogar o clássico de graça para tod mundo
                        </p>
                        <a href="https://www.tecmundo.com.br/voxel/286087-habbo-hotel-original-volta-veja-jogar-classico-graca.htm"
                           class="btn">Leia mais<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/blog/xbox.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>18/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>TecMundo</span></h5>
                        </div>
                        <a class="main-heading" href="#">Xbox</a>
                        <p>
                            Xbox Game Pass recebe EA FC 24 e mais jogos de peso! Veja lista completa
                        </p>
                        <a href="https://www.tecmundo.com.br/voxel/286074-xbox-game-pass-recebe-ea-fc-24-jogos-peso-veja-lista-completa.htm"
                           class="btn">Leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/blog/Dark-souls-png.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>26/07/2022</span></h5>
                            <h5><i class="fas fa-user"></i><span>TecMundo</span></h5>
                        </div>
                        <a class="main-heading" href="#">Dark Souls |||</a>
                        <p>
                            Após falha seguida de uma grave, Dark Souls 3 pode reativar servidores em breve
                        </p>
                        <a href="https://www.tecmundo.com.br/voxel/242355-falha-grave-dark-souls-3-reativar-servidores.htm"
                           class="btn">Leia mais<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->
    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>Me </span>Contate</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>Nos Contate</h3>

                <p>Meios de contato</p>

                <div class="info-item">
                    <h4>Numero:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>61 99646-5388</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+111-222-333</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>Email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">zelitalimasilva157@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">zelita.lima31@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>Github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/zelita-lima</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="name" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="subject" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="message"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">Mande mensagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>Criado por: <span>Zelita Lima</span> | direitos autorais de Zls</p>
        </div>
    </footer>
    <!-------------------- Footer Area (End) -------------------->
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- SWIPER JS -->
    <script src="~/vendors/swiper/swiper.js"></script>

    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!-- Custom Script File -->
    <script src="~/js/script.js"></script>
    <script src="~/js/scroll-spy.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/portfolio.js"></script>
    <script src="~/js/testi-slider.js"></script>
    <script src="~/js/blog-slider.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        function verificarUsuarioLogado() {
            var usuarioId = '@Context.Session.GetInt32("USUARIO_ID")'; // Variável do ambiente passada pelo backend
            console.log(usuarioId)
            if (usuarioId !== "") { // Verifica se o usuário está logado
                // Se o usuário estiver logado, redireciona para a página de agendamento
                window.location.href = "/Agendamento/Cadastro_Agendamento";
            } else {
                // Se não estiver logado, redireciona para a página de login
                window.location.href = "/Usuario/Login";
            }
        }
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: 'assets/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>s
</body>
