@{
    Layout = "/Views/Shared/_LayoutGerenciamento.cshtml";
}
<body>


    <section class="maneger-page-section">
        <div class="container page-maneger">

            <div class="add-user-button">
                <h1 class="section-title cliente-title-maneger">Agendamento de Usuarios </h1>
                <br />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..."
                                   aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-success btn-lg" onclick="" data-bs-toggle="modal"
                                data-bs-target="#InserirUsuario">
                            <i class="fa fa-plus"></i> Adicionar Agendamento de User
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-container table-responsive">
                <table id="TbClientes" class="table">
                    <colgroup>
                        <col class="tc-nome">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Agendamentos para a data </th>
                            <th>Tecnicas</th>
                            <th>Valor</th>
                            <th>Comfirmação</th>
                            <th style="color: #000; text-align: center;">Editar</th>
                            <th style="color: red; text-align: center;">Excluir</th>

                        </tr>
                    </thead>
                    <tbody>

                    <td>Id</td>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Telefone</td>
                    <td>AgendarData</td>
                    <td>Tecnicas</td>
                    <td>Valor</td>
                    <td>Comfirmação</td>

                    <td class="text-center">
                        <button class="btn btn-default"
                                onclick="definirEdt()"
                                data-bs-toggle="modal" data-bs-target="#EditarUsuario">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default"
                                onclick="definirExc()"
                                data-bs-toggle="modal" data-bs-target="#ExcluirUsuario">
                            <i class="fa fa-trash text-danger"></i>
                        </button>
                    </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <!--Butao Voltar-->

        <section class="container text-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div>
                    <button type="button" id="send-button2" class="nav-link active btn btn-danger btn-block"
                            style="flex: 1; margin-left: 5px;" onclick="window.location.href = '/Home/Index';">
                        Voltar
                    </button>
                </div>
            </div>
        </section>

        <div class="modal fade" id="EditarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h3 class="modal-title" id="exampleModalLabel">Editar Cliente</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:#00007e">Campos com * Azul são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditNome" type="text" class="form-control"
                                           placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditEmail" type="text" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EditTelefone" type="email" class="form-control"
                                           placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditData" type="text" class="form-control" placeholder="Digite a data">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditTecn" type="text" class="form-control"
                                           placeholder="Digite a Tecnica">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditVlue" type="text" class="form-control" placeholder="Digite o Valor">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditConfirmção" type="text" class="form-control"
                                           placeholder="Digite a Comfirmação">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AlterarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ExcluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h3 class="modal-title" id="exampleModalLabel">Excluir User</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <p style="color:#00007e">Campos com * Azul são obrigatórios</p>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditNome" type="text" class="form-control"
                                           placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditEmail" type="text" class="form-control" placeholder="Digite o email">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-7">
                                    <input id="EditTelefone" type="email" class="form-control"
                                           placeholder="Digite o telefone">
                                </div>
                                <div class="col-md-5">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditData" type="text" class="form-control" placeholder="Digite a data">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditTecn" type="text" class="form-control"
                                           placeholder="Digite a Tecnica">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditVlue" type="text" class="form-control" placeholder="Digite o Valor">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <input id="EditConfirmção" type="text" class="form-control"
                                           placeholder="Digite a Comfirmação">
                                </div>
                                <div class="col-md-6">
                                    <label style="color:#00007e">*</label>
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" value="" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick=" AlterarUsuario()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #86b2d2; color: white; border-color: #eea236;">
                        <h3 class="modal-title" id="exampleModalLabel">Editar User</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtIdM" class="form-check-input" value="10:00"
                                       style="margin-right: 10px;" disabled>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdtM" type="date" class="form-control" style="width: 300px;"
                                       placeholder="Escolha a data do agendamento"
                                       oninput="consultarAgendamentoM();consultarAgendamentoManutencaoM()">
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <select id="Servico" class="form-select">
                                        <option value="" disabled selected hidden>Escolha uma das opções</option>
                                        <option value="VolumeBrasileiro">Atualizaçoes</option>
                                        <option value="Volume5D">Mods</option>
                                        <option value="EfeitoSirene">Expansões</option>
                                        <option value="VolumeExpress">Hacks</option>
                                        <option value="HidraGloss">Cheats</option>
                                        <option value="HidraGloss">Upadtes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk08M" class="form-check-input" value="08:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                <span id="Span08M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk10M" class="form-check-input" value="10:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                <span id="Span10M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk13M" class="form-check-input" value="13:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                <span id="Span13M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk15M" class="form-check-input" value="15:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                <span id="Span15M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk17M" class="form-check-input" value="17:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                <span id="Span17M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk19M" class="form-check-input" value="19:00"
                                       style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                <span id="Span19M" style="color:red;"></span>
                            </div>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary"
                                onclick="InserirAgendamentoManutencao()">
                            Adicionar
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <script src="~/lib/swiper/swiper-bundle.min.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script>

            function definirEdt(id, Nome, Email, Senha, TipoUsuario, Telefone) {

                $('#IdEdt').val(id);
                $('#EditNome').val(Nome);
                $('#EditSenha').val(Senha);
                $('#EditEmail').val(Email);
                $('#EditTel').val(Telefone);


                var senhaValue = "";
                if (Senha) {
                    $('#EditSenha').val(Senha);
                    senhaValue = Senha;
                }


                if ($('#DropTipoUsuarioEdit').length > 0) {
                    $('#DropTipoUsuarioEdit option').filter(function () {
                        return $(this).val() === TipoUsuario;
                    }).prop('selected', true);
                    $('#DropTipoUsuarioEdit').trigger('chosen:updated');
                } else {
                    console.error("DropDownList não encontrado.");
                }
            }

            function definirExc(id, Nome, Email, Telefone) {
                $('#IdExc').val(id);
                $('#ExcNome').val(Nome);
                $('#ExcEmail').val(Email);
                $('#ExcTel').val(Telefone)
            }

            function InserirUsuario() {

                var nome = $('#Nome').val();
                var email = $('#Email').val();
                var senha = $('#Senha').val();
                var telefone = $('#Telefone').val();
                var tipoUsuario = $('#DropTipoUsuario option:selected').val();

                if (nome.trim() === "") {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }
                if (senha.trim() === "") {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }
                if (email.trim() === "") {
                    alert("Por favor, insira um email válido.");
                    return;
                }

                if (tipoUsuario === "Escolha o Tipo de Usuário") {
                    alert("Por favor, selecione o tipo de usuário.");
                    return;
                }

                if (telefone.trim() === "") {
                    alert("Por favor, insira um número de telefone válido.");
                    return;
                }



                var dados = {
                    Nome: nome,
                    Email: email,
                    Senha: senha,
                    Telefone: telefone,
                    TipoUsuario: tipoUsuario
                };

                // Faça a chamada AJAX
                $.ajax({
                    url: '/Usuario/InserirUsuario',
                    type: "POST",
                    dataType: "json",
                    data: dados,
                    success: function (resultado) {
                        if (resultado.success) {
                            alert(resultado.message);  // Exibe a mensagem de sucesso
                            // Fecha o modal
                            $('#InserirUsuario').modal('hide');
                            // Recarrega a págInserirUsuarioina
                            location.reload();
                        } else {
                            alert(resultado.message);  // Exibe a mensagem de falha
                        }
                    },
                    error: function () {
                        alert('Erro na requisição AJAX.');
                    }
                });
            }

            function AlterarUsuario() {
                var id = $("#IdEdt").val();
                var nome = $("#EditNome").val();
                var senha = $("#EditSenha").val();
                var email = $("#EditEmail").val();
                var tel = $('#EditTel').val();
                var tipoCli = $('#DropTipoUsuarioEdit').val(); // Obtém o valor do tipo de cliente, não apenas o texto

                // Validação do campo 'Nome'
                if (!nome) {
                    alert("Por favor, preencha o campo Nome.");
                    return;
                }

                // Validação do campo 'Senha'
                if (!senha) {
                    alert("Por favor, preencha o campo Senha.");
                    return;
                }

                // Validação do campo 'Email'
                if (!email) {
                    alert("Por favor, preencha o campo Email.");
                    return;
                }

                // Validação do campo 'Telefone'
                if (!tel) {
                    alert("Por favor, preencha o campo Telefone.");
                    return;
                }

                // Validação do campo 'Tipo de Cliente'
                if (!tipoCli) {
                    alert("Por favor, selecione o Tipo de Cliente.");
                    return;
                }

                // Crie um objeto com os dados
                var dados = {
                    Id: id,
                    Nome: nome,
                    Senha: senha,
                    Email: email,
                    Telefone: tel,
                    TipoUsuario: tipoCli
                };

                // Faça a chamada AJAX para o servidor
                $.ajax({
                    type: "POST",
                    url: "/Usuario/AlterarUsuario",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dados),
                    success: function (response) {
                        // Manipule a resposta do servidor
                        if (response.success) {
                            alert("Cliente alterado com sucesso!");
                            // Feche o modal de edição se necessário
                            $('#FormEditar').modal('hide');
                            // Recarregue a página se necessário
                            location.reload();
                        } else {
                            alert("Falha ao alterar cliente.");
                        }
                    },
                    error: function (error) {
                        // Manipule erros de requisição AJAX
                        console.error("Erro na chamada AJAX:", error);
                    }
                });
            }

            function ExcluirUsuario() {
                // Obtenha o ID do usuário a ser excluído
                var userId = $('#IdExc').val();

                // Faça uma requisição AJAX
                $.ajax({
                    type: "POST",
                    url: "/Usuario/ExcluirUsuario", // Substitua "Usuario" pelo nome do seu controller
                    data: { id: userId },
                    dataType: "json",
                    success: function (response) {
                        // A resposta do servidor está em response.success
                        if (response.success) {
                            // Feche o modal de exclusão
                            $('#ExcluirUsuario').modal('hide');
                            alert("Cliente excluido com sucesso!");

                            // Recarregue a página
                            location.reload();
                        } else {
                            alert("Falha ao excluir usuário.");
                        }
                    },
                    error: function () {
                        alert("Erro na requisição AJAX.");
                    }
                });
            }



        </script>

    </section>

</body>
